<h1 style="color: red;">Mish-Mash-Me</h1>

<body style="background-image:linear-gradient(180deg, rgb(248, 248, 17), rgba(174, 58, 209, 0.746)); height:1000px">


<h1>{{name}}</h1>

<img src="{{image1}}" alt="Yee">
<img src="{{image2}}" alt="Yeez">
<img src="{{image3}}" alt="Yeezy">